.hero{
    background-color: #003049;
    height: 80vh;
    width: 100vw;;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    color: #FDF0D5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1{
    font-size: 4rem;
    margin-bottom: 1rem;
}
.content h2{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}