.button{
    background-color: #780000;
    width: 20vw;
    height: 8vh;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.button:hover{
    background-color: #4567ff;
    color: white;
    transition: 0.3s;
}